.modal {
  background-color: #0a192f;
  color: #64ffda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh + 5rem);

  h1 {
    font-size: 5rem;
    line-height: 36pt;
    font-weight: 300;

    span {
      color: #ccd6f6;
      font-weight: 600;
    }
  }

  .btn-primary {
    margin-block: 1.2rem;
  }

  .navbar {
    position: fixed;
    top: -5rem;
    background: #112240;
    box-shadow: 0 1rem 2.5rem -1px rgb(0 0 0 / 10%);
    padding: 1.5rem;
    width: 100%;
    z-index: 100;
    transition: all 0.5s;

    .nav-links {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5rem;

      .nav-link {
        color: #dbe2ef;
        text-transform: capitalize;
        font-size: 1.5rem;
        font-weight: 300;
        transition: color 0.3s;

        span {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          color: #64ffda;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
