@use 'colors' as *;

.projects {
  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .project-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    margin-inline: auto;
    margin-top: 3rem;
  }
}

.project {
  margin-bottom: 2rem;

  &-image {
    position: relative;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
    img {
      width: 58rem;
      height: 38rem;
      object-fit: cover;
      border-radius: 1rem;
    }

    &--labels {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 1rem;

      color: $accentColor;

      p {
        background-color: $primaryColor1;
        padding: 0.8rem 1.2rem;
        border-radius: 1rem;
        font-size: 1.4rem;
      }
    }
  }

  &-content {
    text-align: center;
    color: $accentColor;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btn-container {
    padding-block: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
