@use 'colors' as *;

.projects {
  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    .project {
      background-color: $primaryColor2;
      border-radius: 4px;
      border: 1px solid $primaryColor1;

      img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
      }

      &-body {
        padding: 2rem;
        text-align: center;
        color: #ccd6f6;

        .project-title {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }

        .project-description {
          font-size: 1.7rem;
          margin-bottom: 2rem;
        }

        .project-btn {
          display: flex;
          justify-content: space-around;
          align-items: center;

          i {
            font-size: 1.8rem;
          }

          .btn-full {
            background-color: $accentColor;
            border: $accentColor;
            color: $primaryColor2;

            &:hover {
              background-color: $primaryColor1;
            }
          }
        }
      }
    }
  }
}
