* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  background-color: #0a192f;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-top: 5rem;
}

.container {
  max-width: min(90%, 120rem);
  margin: 0 auto;
}

.btn-primary {
  font-size: 1.6rem;
  font-weight: 300;
  border: 1px solid #64ffda;
  display: inline-block;
  transition: all 0.5s;
  padding: 1.2rem 3rem;
  color: #64ffda;
  letter-spacing: 0.8px;
  border-radius: 4px;
}

.btn-primary .right-arrow {
  transition: transform 0.3s;
}

.btn-primary:hover {
  background-color: rgba(100, 255, 219, 0.16);
  color: #64ffda;
}

.btn-primary:hover .right-arrow {
  transform: rotate(90deg);
}

.btn-secondary {
  display: inline-block;
  border: 2px solid #3f72af;
  padding: 1.2rem 2.4rem;
  color: #3f72af;
  letter-spacing: 0.8px;
  border-radius: 1rem;
  transition: all 0.5s;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #3f72af;
}

.section-heading {
  text-align: center;
  font-size: 30pt;
  text-transform: capitalize;
  color: #ccd6f6;
  margin-bottom: 8rem;
  position: relative;
}

.section-heading::after {
  content: "";
  height: 1px;
  width: 8rem;
  background-color: #233554;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.modal {
  background-color: #0a192f;
  color: #64ffda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh + 5rem);
}
.modal h1 {
  font-size: 5rem;
  line-height: 36pt;
  font-weight: 300;
}
.modal h1 span {
  color: #ccd6f6;
  font-weight: 600;
}
.modal .btn-primary {
  margin-block: 1.2rem;
}
.modal .navbar {
  position: fixed;
  top: -5rem;
  background: #112240;
  box-shadow: 0 1rem 2.5rem -1px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 100%;
  z-index: 100;
  transition: all 0.5s;
}
.modal .navbar .nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}
.modal .navbar .nav-links .nav-link {
  color: #dbe2ef;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 300;
  transition: color 0.3s;
}
.modal .navbar .nav-links .nav-link span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #64ffda;
}
.modal .navbar .nav-links .nav-link:hover {
  color: #fff;
}

.about {
  background-color: #0a192f;
  padding-bottom: 12rem;
}
.about .label-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.about .label-container .label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about .label-container .label .shape {
  background-color: #495670;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .label-container .label .shape i {
  color: #64ffda;
  font-size: 3.5rem;
}
.about .label-container .label .label-content {
  text-align: center;
  color: #8892b0;
}
.about .label-container .label .label-content h4 {
  font-size: 2.4rem;
  color: #ccd6f6;
  margin-bottom: 1rem;
}
.about .label-container .label .label-content p {
  line-height: 1.5;
}
.about .skills-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
  margin-top: 8rem;
}
.about .skills-wrapper .about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  color: #8892b0;
}
.about .skills-wrapper .about-me h4 {
  font-size: 2.4rem;
  color: #ccd6f6;
}
.about .skills-wrapper .about-me p {
  font-size: 1.7rem;
  max-width: 85%;
}
.about .skills-wrapper .about-me img {
  width: 25rem;
}
.about .skills-wrapper .skills .bar {
  height: 2.8rem;
  background-color: #e6f1ff;
  color: #3c3c3c;
  margin-bottom: 1.6rem;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .skills-wrapper .skills .bar:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background-color: #495670;
  border-radius: 4px;
}
.about .skills-wrapper .skills .bar:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background-color: #495670;
  border-radius: 4px;
}
.about .skills-wrapper .skills .bar:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: #495670;
  border-radius: 4px;
}
.about .skills-wrapper .skills .bar:nth-child(4)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: #495670;
  border-radius: 4px;
}
.about .skills-wrapper .skills .bar:nth-child(5)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: #495670;
  border-radius: 4px;
}
.about .skills-wrapper .skills .bar:nth-child(6)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: #495670;
  border-radius: 4px;
}
.about .skills-wrapper .skills .bar:nth-child(7)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #495670;
  border-radius: 4px;
}
.about .skills-wrapper .skills .bar p {
  font-weight: bold;
  color: #64ffda;
  z-index: 2;
  margin-left: 1rem;
}
.about .skills-wrapper .skills .bar span {
  margin-right: 1rem;
}

.projects .project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.projects .project-grid .project {
  background-color: #112d4e;
  border-radius: 4px;
  border: 1px solid #3f72af;
}
.projects .project-grid .project img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.projects .project-grid .project-body {
  padding: 2rem;
  text-align: center;
  color: #ccd6f6;
}
.projects .project-grid .project-body .project-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.projects .project-grid .project-body .project-description {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.projects .project-grid .project-body .project-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.projects .project-grid .project-body .project-btn i {
  font-size: 1.8rem;
}
.projects .project-grid .project-body .project-btn .btn-full {
  background-color: #dbe2ef;
  border: #dbe2ef;
  color: #112d4e;
}
.projects .project-grid .project-body .project-btn .btn-full:hover {
  background-color: #3f72af;
}

.contact {
  padding-bottom: 10rem;
}
.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .container p {
  color: #dbe2ef;
  margin-bottom: 5rem;
}
.contact .container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60rem;
}
.contact .container .form input,
.contact .container .form textarea {
  background-color: #495670;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  padding: 1.4rem;
  margin-bottom: 0.8rem;
}
.contact .container .form input::placeholder,
.contact .container .form textarea::placeholder {
  color: #64ffda;
}
.contact .container .form input:focus,
.contact .container .form textarea:focus {
  color: #64ffda;
  outline: 1px solid #64ffda;
}
.contact .container .form textarea {
  height: 14rem;
}
.contact .container .form input[type=submit] {
  width: 30%;
  margin-block: 1rem;
  background: transparent;
  border: none;
  color: #64ffda;
  border: 1px solid #64ffda;
  text-transform: capitalize;
  border-radius: 4px;
  cursor: pointer;
}
.contact .container .form input[type=submit]:hover {
  background-color: rgba(100, 255, 219, 0.201);
}

.footer {
  padding: 5rem;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .container .social-links a {
  background-color: #112d4e;
  padding: 1rem;
  margin-left: 1.4rem;
  color: #64ffda;
  font-size: 1.6rem;
  border-radius: 4px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.footer .container .social-links a:hover {
  background-color: #dbe2ef;
  color: #112d4e;
}
.footer .container .copyright {
  margin-top: 3rem;
  text-transform: capitalize;
  color: #dbe2ef;
}
.footer .container .copyright span {
  font-size: 1.7rem;
}

@media screen and (max-width: 768px) {
  .modal h1 {
    font-size: 3.2rem;
  }
  .modal .btn-primary {
    font-size: 1.6rem;
  }

  .about .label-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about .skills-wrapper {
    grid-template-columns: 1fr;
  }

  .projects .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact .container .form {
    width: 40rem;
  }

  .footer .container .social-links {
    display: flex;
  }
  .footer .container .social-links .social-link {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .about .label-container {
    grid-template-columns: 1fr;
  }

  .projects .project-grid {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
